<h1 class="text-center">Choose your Background</h1>

<div class="row">
    <% @backgrounds.each do |background| %>
      <div class="col-md-3">
        <img src="<%= background %>" class="img-thumbnail make-room" />
      </div>
    <% end %>
  </div>