<table class="table table-bordered table-striped" id="sortable">
  <tbody>
    <% @tasks.each do |task| %>
      <tr data-item-id=<%= "#{task.id}" %> class="item">
        <td>
          <%= link_to task.name, task_path(task) %>
        </td>
        <td>
          <%= link_to '<i class="fa fa-check"></i>'.html_safe, task_path(task), :method => :delete, :class => 'pull-right' %>
          <%= link_to '<i class="fa fa-pencil-square"></i>'.html_safe, edit_task_path(task), :class => 'pull-right space-between' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>