<table class="table table-bordered table-striped" id="sortable">
  <tbody>
    <% @tasks.each do |task| %>
      <tr data-item-id=<%= "#{task.id}" %> class="item">
        <td>
          <%= link_to task.name, task_path(task) %>
        </td>
        <td>
          <%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-default' %>
          <%= link_to 'Mark as Completed', task_path(task), :method => :delete, :class => 'btn btn-default pull-right' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>